/* 页头样式 */
.u-header {
    padding-top: 35px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
}

.u-logo {
    font-size: 2.5em;
    text-decoration: none;
    color: #000000;
}

.u-desc {
    color: #999999;
    font-style: italic;
}

.u-link {
    text-decoration: none;
    color: #3354aa;
}

.u-nav {
    list-style: none;
    padding: 0;
}

.u-nav-item {
    border-bottom: 3px inherit solid;
    list-style: none;
    padding: 5px 5px;
    margin: 0 2px;
    display: inline-block;
}

.u-nav-link {
    text-decoration: none;
    font-size: 16px;
    color: #2F3242;
}

.u-nav-active {
    border-bottom: 3px #2F3242 solid;
}

/* 页头样式end */


/* 列表标题 */
.u-label-desc {
    display: block;
    font-size: 14px;
    color: #555555;
    margin-top: 20px;
}

/* 列表标题end  */


/* 博客列表文章样式end */
.u-list-article {
    padding: 15px 0 25px 0;
    border-bottom: 1px solid #eeeeee;
}

.u-list-article-desc-nav {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.u-list-article-desc-nav > li {
    border-right: 1px solid #5A5C6C;
    padding-right: 7px;
}

.u-list-article-desc-nav > li:last-child {
    border: none;
}

.u-list-article-desc-nav > li {
    border-bottom: 3px inherit solid;
    list-style: none;
    margin-right: 7px;
    float: left;
    color: #5A5C6C;
    font-size: 13px;
}

.u-list-article-content {
    font-size: 14px;
}

.u-list-article-desc-nav > li > a {
    text-decoration: none;
}

/* 博客列表文章样式end */


/* 分页样式 */
ol.u-page-navigator {
    list-style: none;
    text-align: center;
}

ol.u-page-navigator > li {
    display: inline-block;
    list-style: none;
    padding: 10px;
    cursor: pointer;
}

ol.u-page-navigator > li:hover {
    background-color: #e8e8e8;
}

ol.u-page-navigator > li.u-page-navigator-active {
    background-color: #e8e8e8;
}

/* 分页样式end */


/* 侧边栏样式 */
.u-widget-title {
    margin: 18px 0 5px;
}

section.u-widget {
    margin: 5px 5px 15px 5px;
}

ul.u-widget-list {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.u-widget-list > li {
    font-size: 16px;
    margin: 10px 5px;
    color: #3354aa;
}

/* 侧边栏样式end */


/* 文章样式 */
.u-article {
    padding: 15px 0;
}
.u-article-content {
    margin: 15px 0;
}

/* 文章样式end */


/* 页脚样式 */
.u-footer {
    padding: 42px 0;
    text-align: center;
    color: #5A5C6C;
    font-size: 14px;
}

/* 页脚样式end */