/* 页头样式 */
.u-header {
    padding-top: 35px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dddddd;
}

.u-logo {
    font-size: 2.5em;
    text-decoration: none;
    color: #000000;
}

.u-desc {
    color: #999999;
    font-style: italic;
}

.u-link {
    text-decoration: none;
    color: #3354aa;
}

.u-nav {
    list-style: none;
    padding: 0;
}

.u-nav-item {
    border-bottom: 3px inherit solid;
    list-style: none;
    padding: 5px 5px;
    margin: 0 2px;
    display: inline-block;
}

.u-nav-item:hover {
    font-weight: bolder;
}

.u-nav-link {
    text-decoration: none;
    font-size: 16px;
    color: #2F3242;
}

.u-nav-active {
    border-bottom: 3px #2F3242 solid;
}

/* 页头样式end */


/* main-content */
.u-content {

}

/* main-content-end*/


/* 列表标题 */
.u-label-desc {
    display: block;
    font-size: 14px;
    color: #555555;
    margin-top: 20px;
}

/* 列表标题end  */


/* 博客列表文章样式end */
.u-list-article {
    padding: 15px 0 25px 0;
    border-bottom: 1px solid #dddddd;
}

.u-list-article-desc-nav {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.u-list-article-desc-nav > li {
    border-right: 1px solid #5A5C6C;
    padding-right: 7px;
}

.u-list-article-desc-nav > li:last-child {
    border: none;
}

.u-list-article-desc-nav > li {
    border-bottom: 3px inherit solid;
    list-style: none;
    margin-right: 7px;
    float: left;
    color: #5A5C6C;
    font-size: 13px;
}

.u-list-article-content {
    font-size: 14px;
}

.u-list-article-desc-nav > li > a {
    text-decoration: none;
}

/* 博客列表文章样式end */


/* 分页样式 */
ol.u-page-navigator {
    list-style: none;
    text-align: center;
}

ol.u-page-navigator > li {
    display: inline-block;
    list-style: none;
    padding: 10px;
    cursor: pointer;
}

ol.u-page-navigator > li:hover {
    background-color: #e8e8e8;
}

ol.u-page-navigator > li.u-page-navigator-active {
    background-color: #e8e8e8;
}

/* 分页样式end */


/* 侧边栏样式 */
.u-widget-title {
    margin: 18px 0 5px;
}

section.u-widget {
    margin: 5px 5px 15px 5px;
}

ul.u-widget-list {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.u-widget-list > li {
    font-size: 16px;
    margin: 10px 5px;
    color: #3354aa;
}

/* 侧边栏样式end */


/* 文章样式 */
.u-article {
    padding: 15px 0;
}

.u-article-id {
    display: none;
}

.u-article-content {
    margin: 15px 0 30px;
}

.u-article-tools {
    padding: 30px 0 0;
    text-align: right;
}

.u-like-btn {
    margin: 0 20px;
    font-size: .8em;
    cursor: pointer;
}

.u-like-btn > a {
    display: inline-block;
    text-decoration: none;color: #5A5C6C;
}

.u-like-btn > a:hover {
    color: #000000;
}

/* 文章样式end */


/* 评论框样式 */
.u-comment {
    border-top: 1px solid #dddddd;
    padding: 15px 0;
}
.u-passed-comments {
    padding-bottom: 15px;
}

.u-passed-comments-item {
    margin: 10px 0;
    background-color: #f3f3f3;
    padding: 10px 10px;
}

.u-passed-comments-desc {
    display: block;
    text-align: right;
    font-size: 12px;
    color: #444444;
}

.u-comment-title {
    color: #444444;
}

.u-form-group {
    margin-bottom: 15px;
    display: block;
}

.u-form-group > * {
    margin: 0;
}

.u-form-group > label {
    display: inline-block;
    font-size: 0.9em;
    font-weight: bold;
    color: #444444;
    letter-spacing: .1em;
    padding: 4px 1px 5px;
}

.u-form-control {
    display: block;
    padding: 4px;
    font-size: .9em;
    width: 100%;
    resize: vertical;
}

textarea {
    height: 160px;
}

.u-bc-button {
    background-color: #e8e8e8;
    border: 1px solid #444444;
    padding: 5px 15px;
    display: inline-block;
    font-size: .7em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.u-bc-button:hover {
    cursor: pointer;
}

.u-is-invalid {
    border: 1px solid #ea0000;
}

.u-is-invalid:active {
    border: 1px solid #ea0000;
}

.u-invalid-feedback {
    font-size: .5em;
    color: #ea0000;

}

/* 评论框样式end */


/* 独立页面样式 */
.u-page {
    padding: 30px 15px;
}

.u-page-title {
    font-size: .9em;
}

.u-page-content {
    margin: 30px 0;
}

.u-page-desc {
    display: block;
    margin: 10px 0;
    color: #5A5C6C;
    font-size: 12px;
}

/* 独立页面样式end */


/* 页脚样式 */
.u-footer {
    padding: 42px 0;
    text-align: center;
    color: #5A5C6C;
    font-size: 14px;
}
.u-footer > span {
      font-size: small;
      color: #5e5e5e;
      display: inline-block;
    }
    .u-footer > span > a {
      color: #5e5e5e;
      text-decoration: none;
    }
    .u-footer > span > a:hover {
      color: #3d3d3d;
    }

/* 页脚样式end */
