<!-- 导入基础文件 -->
{% extends "admin_frame.html" %}

{% block customizedCss %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/summernote@0.8.12/dist/summernote-bs4.css">
{% endblock %}

<!-- body -->
{% block body %}
  <body style="background-color: inherit">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">

        <div class="col-sm-6">
          <!-- 页面标题栏 -->
          <h1 class="m-0 text-dark">{{ section_title }}</h1>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Info boxes -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <form role="form" id="write-article-form">
              <div class="card-body" style="min-height: 600px">
                <input type="text" value="{{ ba_item.id|default:0}}" id="article-id" style="display: none">

                <div class="form-group">
                  <input type="text" class="form-control form-control-lg" id="article-title" name="articleTitle"
                         placeholder="标题" value="{{ ba_item.title }}">
                </div>

                <div class="form-group">
                  <textarea class="textarea" placeholder="Place some text here" id="article-content"
                            style="width: 100%; height: 100px; font-size: 16px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                </div>

                <div class="form-group row">
                  <label for="article-is-private" class="col-md-2 col-form-label">查看状态</label>
                  <div class="col-md-3">
                    <select class="form-control" id="article-is-private">
                      <option value="0" {% if not ba_item.is_private %}selected{% endif %}>所有人可见</option>
                      <option value="1"{% if ba_item.is_private %}selected{% endif %}>仅自己可见</option>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="article-label" class="col-md-2 col-form-label">标签</label>
                  <div class="col-md-3">
                    <select class="form-control" id="article-label">
                      <option value="0">无</option>
                      {% for bl_item in bl_list %}
                        <option value="{{ bl_item.id }}" {% if ba_item.label == bl_item.label_name %}selected{% endif %}>
                          {{ bl_item.label_name }}
                        </option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

              </div>

              <div class="card-footer">
                <div class="form-group row">
                  <div class="col-6 col-sm-2 offset-sm-8">
                    <button type="button" class="btn btn-block btn-primary" onclick="submitArticle('1')">
                      存为草稿
                    </button>
                  </div>
                  <div class="col-6 col-sm-2">
                    <button type="button" class="btn btn-block btn-success" onclick="submitArticle('0')">
                      发布文章
                    </button>
                  </div>
                </div>
              </div>
            {% if ba_item %}
              <div id="article-sn-content" style="display: none">{{ ba_item.content|safe }}</div>
            {% endif %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  </body>
{% endblock %}

<!-- 自定义Js -->
{% block customizedJs %}
  <!-- summernote -->
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.12/dist/summernote-bs4.min.js"></script>
  <script src="/static/js/pages/write_article.js"></script>
{% endblock %}