<!-- 导入基础文件 -->
{% extends "admin_frame.html" %}

<!-- body -->
{% block body %}

<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">

      <div class="col-sm-6">
        <!-- 页面标题栏 -->
        <h1 class="m-0 text-dark">{{section_title}}</h1>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Info boxes -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <form role="form" id="user-settings-form">
              <div class="card-body" style="min-height: 600px">
                <input type="text" value="{{ blog_user.id }}" id="us-user-id" style="display: none">

                <div class="form-group">
                  <lable for="us-username">邮箱</lable>
                  <input type="text" class="form-control" value="{{ blog_user.email }}" disabled>
                </div>

                <div class="form-group">
                  <lable for="us-username">用户名</lable>
                  <input type="text" class="form-control" id="us-username" name="userName" value="{{ blog_user.username }}">
                </div>

                <div class="form-group">
                  <lable for="us-password">密码</lable>
                    <button type="button" class="col-sm-3 btn btn-primary btn-block" id="recover-password-btn">重置密码</button>
                </div>
              </div>

              <div class="card-footer">
                <div class="form-group row">
                  <div class="col-6 offset-sm-10 col-sm-2">
                    <button type="button" class="btn btn-block btn-success" onclick="submitUserSettings()">
                      保存设置
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  </body>
{% endblock %}

<!-- 自定义Js -->
{% block customizedJs %}
  <script src="/static/js/pages/user_setup.js"></script>
{% endblock %}