<!-- 导入基础文件 -->
{% extends "admin_frame.html" %}

<!-- body -->
{% block body %}
  <body style="background-color: inherit">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">

        <div class="col-sm-6">
          <!-- 页面标题栏 -->
          <h1 class="m-0 text-dark">{{ section_title }}</h1>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  </body>

{% endblock %}

<!-- 自定义Js -->
{% block customizedJs %}
{% endblock %}