<!-- 导入基础文件 -->
{% extends "admin_frame.html" %}

<!-- body -->
{% block body %}
  <body style="background-color: inherit">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <!-- 页面标题栏 -->
          <h1 class="m-0 text-dark">{{ section_title }}</h1>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Info boxes -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div class="btn-group btn-group-toggle">
                <button class="btn btn-secondary {% if list_type == 'public' %}active{% endif %}"
                        onclick="changeArticleListURL('public')">公开
                </button>
                <button class="btn btn-secondary {% if list_type == 'private' %}active{% endif %}"
                        onclick="changeArticleListURL('private')">隐私
                </button>
                <button class="btn btn-secondary {% if list_type == 'draft' %}active{% endif %}"
                        onclick="changeArticleListURL('draft')">草稿
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <table class="table">
                <thead class="table">
                <tr>
                  <th style="width: 60px"></th>
                  <th style="width: 100px">评论数</th>
                  <th>标题</th>
                  <th>标签</th>
                  <th style="width: 120px">日期</th>
                </tr>
                </thead>
                <tbody>
                {% for ba_item in ba_list %}
                  <tr>
                    <td><input type="checkbox" class="ba-checkbox" value="{{ ba_item.id }}"></td>
                    <td>0</td>
                    <td><a href="/admin/write-article?type=update&num={{ ba_item.id }}">{{ ba_item.title }}</a></td>
                    <td>{{ ba_item.label }}</td>
                    <td>{{ ba_item.update_time|date:'m-d' }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="card-footer clearfix">
              <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-warning">选中项</button>
                <button type="button" class="btn btn-warning dropdown-toggle dropdown-icon" data-toggle="dropdown">
                  <span class="sr-only">Toggle Dropdown</span>
                  <div class="dropdown-menu" role="menu">
                    <a class="dropdown-item" onclick="deleteItems()">删除</a>
                  </div>
                </button>
              </div>
              <ul class="pagination pagination-sm m-0 float-right">
                {% if ba_list.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="/admin/manage-articles?list={{ list_type }}&page={{ page_num|add:-1 }}">&laquo;</a>
                  </li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="#">{{ page_num }}/{{ total_page }}</a></li>
                {% if ba_list.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="/admin/manage-articles?list={{ list_type }}&page={{ page_num|add:1 }}">&raquo;</a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </body>
{% endblock %}

<!-- 自定义Js -->
{% block customizedJs %}
  <script src="/static/js/pages/manage_articles.js"></script>
{% endblock %}