<header class="container u-header">
  <div class="row">
    <div class="col-12">
      <a class="u-logo" href="/">{{ blog_setting.site_name }}</a>
      <p class="u-desc">{{ blog_setting.site_desc }}</p>
    </div>
    <div class="col-12">
      <ul class="u-nav">
        <li class="u-nav-item {% if page_id == 0 %}u-nav-active{% endif %}"><a href="/" class="u-nav-link">首页</a></li>
        {% for bp_item in blog_page %}
          <li class="u-nav-item {% if blog_page_item.id == bp_item.id %}u-nav-active{% endif %}">
            <a href="/{{ bp_item.id }}/" class="u-nav-link">{{ bp_item.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  </div>
</header>