<!-- 导入基础文件 -->
{% extends "blog_base.html" %}


<!-- main-content 主体 -->
{% block content %}
  <section class="col-md-8">

    {% if label_name %}
      <span class="u-label-desc">分类标签 {{ label_name }} 下的文章</span>
    {% endif %}

    {% for article_item in article_list %}
      <article class="u-list-article">
        <h2><a href="/article/{{ article_item.id }}" class="u-link">{{ article_item.title }}</a></h2>
        <ul class="u-list-article-desc-nav">
          <li>作者:{{ user_setting.username }}</li>
          <li>时间:{{ article_item.created_time }}</li>
          <li>阅读：{{ article_item.clicks }}</li>
          <li>喜欢：{{ article_item.likes }}</li>
          <li>标签:<a class="u-link">{{ article_item.label|default:'默认标签' }}</a></li>
        </ul>
        <div class="u-list-article-content">
          {{ article_item.content|safe }}
        </div>
      </article>
    {% endfor %}

    <ol class="u-page-navigator">
      {% if total_page != 1 %}
        {% if article_list.has_previous %}
          <li>
            <a href="/{% if show_type == 'page' %}page{% elif show_type == 'label' %}label{% endif %}/{% if show_type == 'label' %}lid_{{ lid }}/{% endif %}{{ page_num|add:-1 }}"
               class="u-link">上一页</a>
          </li>
        {% endif %}
        <li><a href="#" class="u-link">{{ page_num }}/{{ total_page }}</a></li>
        {% if article_list.has_next %}
          <li>
            <a href="/{% if show_type == 'page' %}page{% elif show_type == 'label' %}label{% endif %}/{% if show_type == 'label' %}lid_{{ lid }}/{% endif %}{{ page_num|add:1 }}"
               class="u-link">下一页</a>
          </li>
        {% endif %}
      {% endif %}
    </ol>
  </section>
  {% include 'blog_aside.html' %}
{% endblock %}



