<div class="u-comment">
  {% if ac_list %}
    <h3 class="u-comment-title">共有 {{ ac_list_count }} 条评论</h3>
    <div class="u-passed-comments">
      {% for ac_item in ac_list %}
        <div class="u-passed-comments-item">
          <p>{{ ac_item.content }}</p>
          <span class="u-passed-comments-desc">{{ ac_item.author }}(email: {{ ac_item.email }})</span>
        </div>
      {% endfor %}
    </div>
  {% endif %}
  {% if blog_setting.allow_comment %}
    <h3 class="u-comment-title">添加新评论</h3>
    <form role="form" id="u-comment-form">
      <div class="u-form-group">
        <label for="u-bc-name">称呼<span class="u-invalid-feedback">*</span></label>
        <input id="u-bc-name" name="u-bc-name" class="u-form-control" type="text">
      </div>
      <div class="u-form-group">
        <label for="u-bc-email" class="u-bc-label">邮箱<span class="u-invalid-feedback">*</span></label>
        <input id="u-bc-email" name="u-bc-email" class="u-form-control" type="email">
      </div>
      <div class="u-form-group">
        <label for="u-bc-content">内容<span class="u-invalid-feedback">*</span></label>
        <textarea id="u-bc-content" name="u-bc-content" class="u-form-control"></textarea>
      </div>
      <button class="u-bc-button" type="button" id="u-bc-submit" onclick="submitComment()">提交评论</button>

    </form>
  {% endif %}
</div>
