<!-- 导入基础文件 -->
{% extends "admin_frame.html" %}

<!-- body -->
{% block body %}
  <body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a href="/"><b>Login</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">开始记录你的生活吧！</p>

        <form action="/login" method="post" id="blog-login-form">
          <div class="form-group mb-3">
            <div class="input-group">
              <input type="text" class="form-control" name="userName" id="user-name" placeholder="用户名" required>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group mb-3">
            <div class="input-group">
              <input type="password" class="form-control" name="userPassword" id="user-password" placeholder="密码"
                     required>

              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="remember-me" name="rememberMe">
                <label for="remember-me">
                  记住我
                </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button type="button" class="btn btn-primary btn-block" id="blog-login-submit">登录</button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <div class="text-center mb-3">
          <p>- OR -</p>
        </div>

        <p class="mb-1">
          <a href="/recover-password">忘记密码？</a>
        </p>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>

  </body>
{% endblock %}

<!-- 自定义Js -->
{% block customizedJs %}
  <script src="/static/js/validation.js"></script>
  <script src="/static/js/pages/blog_login.js"></script>
{% endblock %}